/* hides the entry field if no radio button is selected */
.hidden{
    display: none;
    
}

/* Logo at the end of the form */
#form-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
